@font-face {
    font-family: 'Light';
    src: url(../fonts/Monts/Montserrat-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Regular';
    src: url(../fonts/Monts/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Bold';
    src: url(../fonts/Monts/Montserrat-Bold.ttf) format('truetype');
}