@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: #EFF5F5;
    font-family: 'Regular';
    color: #626262;
}

.container {
    max-width: 1345px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    height: 100%;

}

.header {
    padding: 15px 0 20px;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 25px;

}

.nav__link {
    font-size: 16px;
    line-height: 20px;
    color: #626262;
}

.nav__link:hover {
    font-weight: 700;
}

.btn {
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 6px;
    border: none;
    padding: 10px 40px;
    font-family: 'Rergular';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.banner {
    height: 100vh;
    position: relative;
    background: url(../img/banner.png) no-repeat center/cover;
}

.banner__heading {
    font-family: 'Bold';
    font-size: 50px;
    font-weight: 700;
    line-height: 61px;
    max-width: 530px;
}

.banner__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.apps {
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid #EAEAEA;
    box-shadow: 0px 59px 30px -40px rgba(0, 133, 255, 0.512);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    max-width: 635px;
    width: 100%;
    padding: 26px 100px;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%);

}

.apps__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.curents {
    padding: 69px 50px;

}

.curents__wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 172px;

}

.curents__h {
    font-family: 'Bold';
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;

}

.curents__value {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 306px;
    background: #FFFFFF;
    box-shadow: 0px 30px 30px -15px rgba(0, 133, 255, 0.1);
    border-radius: 13px;
    padding: 15px 30px 15px 15px;
}

.curents__value::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 42px;
    background: #626262;
    left: 35%;
    top: 32px;

}

.curents__value::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 42px;
    background: #626262;
    left: 35%;
    bottom: 32px;
}

.curents__one {
    display: flex;
    align-items: center;
    gap: 30px;

}

.curents__icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DA0000;
    border-radius: 13px;

}

.curents__one-p {
    font-family: Bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #323232;
}

.curents__total-span {
    font-family: 'Bold';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

}

.curents__total-p {
    font-family: 'Regular';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.current {
    max-width: 642px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 32px;

}

.euro {
    background: #0083AC;
    border-radius: 13px;
}

.rub {
    background: #007EDA;
    border-radius: 13px;

}

.china {
    background: #00CDDA;
    border-radius: 13px;
}

.hopecard {
    padding: 96px 0 50px;
}

.hopecard__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hopecard__title {
    font-family: 'Bold';
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    margin-bottom: 12px;
}

.hopecard__best {
    font-family: 'Light';
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 30px;

}

.hopecard__best-span {
    font-family: 'Bold ';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.hopecard__comission {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.comission__h {
    font-family: 'Bold';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.comission__price {
    font-family: 'Bold';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.hopecard__btn {
    padding: 9px 61px;
}

.hopecard__about {
    font-family: 'Bold';
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #626262;
}

.order {
    display: flex;
    align-items: center;
    gap: 30px;
}



.credit__h {
    text-align: center;
    font-family: 'Bold';
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    margin-bottom: 30px;
}

.card {
    position: relative;
    background: #BDC4FF;
    padding: 20px;
    max-width: 642px;
     display: flex; 
    justify-content: space-between;
    align-items: center; 
    box-shadow: 0px 40px 30px -25px rgba(189, 196, 255, 0.5);
    border-radius: 10px;
}

.hit {
    position: absolute;
    width: 60px;
    height: 22px;
    left: 23px;
    top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    border: 0.5px solid rgba(215, 215, 215, 0.3);
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    border-radius: 4px;
    font-family: 'Bold';
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
}

.card__desc-h {
    font-family: 'Bold';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
}

.card__desc-p {
    font-family: 'Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    max-width: 484px;
    margin-bottom: 20px;
}

.credit__btn {
    padding: 9px 57px;
    font-family: 'Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    
}

.btn:hover {
    transform: scale(1.1);
}

 .credit__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 30px;
} 

.card:nth-child(2) {
    background: #FFD280;
}

.credit {
    padding-bottom: 50px;
}

.all {
    text-align: center;
}

.all__btn {
    padding: 9px 82px;
    font-family: 'Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 6px;
    border: none;
}

.app {
    padding-bottom: 100px;
}

.app__h {
    font-family: 'Bold';
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    margin-bottom: 30px;
}

.app__wrap {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-content: space-between;
}

.app__pay {
    background: #97EAB9;
    box-shadow: 0px 40px 30px -25px rgba(151, 234, 185, 0.4);
    border-radius: 10px;
    padding: 25px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 642px;
    height: 488px;
    width: 100%;
}

.pay__h {
    font-family: 'Bold';
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;

}

.app__comfort {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.comfort__card {
    background: #FFC1BD;
    box-shadow: 0px 25px 30px -20px rgba(255, 193, 189, 0.5);
    border-radius: 10px;
    padding: 49px 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 642px;
    width: 100%;
    gap: 36px;
}

.comfort__h {
    font-family: 'Bold';
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
}

.comfort__card:nth-child(2) {
    flex-direction: row-reverse;
    background: #C1B7FF;

}

.downloads {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;

}

.download__links {
    width: 360px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 13px 20px -15px rgba(0, 71, 184, 0.49);
    border-radius: 12px;
}

.footer {
    padding-bottom: 25px;
}

.footer__wrap {
    text-align: center;
}

.logo__link {
    margin-bottom: 20px;
}

.footer__h {
    font-family: 'Bold';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}